/* JSON Viewer */

/* Dark: */
:root {
    --jsonviewer-main-color: #ffffff;
    --jsonviewer-link-color: #86bcff;
    --jsonviewer-border-color: #cccccc;
    --jsonviewer-background-color: #202b38;
    --jsonviewer-arrow: 1;
    --jsonviewer-arrow-hover: 0.825;
    --jsonviewer-highlight-color: #896700;
}

@media (prefers-color-scheme: light) {
    /* Light: */
    :root {
        --jsonviewer-main-color: #000000;
        --jsonviewer-link-color: #2669bb;
        --jsonviewer-border-color: #828282;
        --jsonviewer-background-color: #fafafa;
        --jsonviewer-arrow: 0;
        --jsonviewer-arrow-hover: 0.175;
        --jsonviewer-highlight-color: #ffd34f;
    }
}


button {
    transition: background-color 0.01s ease-in-out;
}


.json-viewer-container {
    font-family: 'Roboto Mono', monospace;
    position: relative;
    margin-top: 40px;

    background-color: var(--jsonviewer-background-color);
    color: var(--jsonviewer-main-color);
    border-radius: 20px;
    border: 1px solid;
    padding-right: 0px;
    padding-bottom: 20px;
    padding-top: 18px;
    min-height: 300px;
    max-height: calc(100% - 40px);
    overflow-y: scroll;

    flex-grow: 1;


    --jsonviewer-max-key-width: 100%;
    --jsonviewer-max-value-width: 100%;
}
.json-viewer-container:focus {
    box-shadow: 0px 0px 5px;
}
.json-viewer-container:focus-visible {
    outline: none;
}

.json-viewer-container::-webkit-scrollbar-track {
    margin-top: 20px;
    margin-bottom: 20px;
    background: transparent;
}
.json-viewer-container::-webkit-scrollbar {
    width: 20px;
}
.json-viewer-container::-webkit-scrollbar-thumb {
    border: 7px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 99999999px;
}

.json-viewer-container .node {
    margin-left: 40px;
    margin-top: 10px;
    position: relative;
}

.json-viewer-container .root > .node {
    margin-left: 0;
}

.json-viewer-container .nodeBody {
    display: flex;
    align-items: center;
}

.json-viewer-container .nodeKey {
    border-radius: 5px;
    padding: 4px;
    padding-left: 7px;
    padding-right: 7px;
    margin: 0px;
    margin-right: 5px;
    min-width: max-content;
    max-width: var(--jsonviewer-max-key-width);
    overflow: hidden;
    white-space: nowrap;
}
.json-viewer-container .nodeKey:hover {
    text-decoration: underline;
    cursor: pointer;
    border: 1px solid var(--jsonviewer-border-color);
    margin: -1px;
    margin-right: 4px;
    color: var(--jsonviewer-link-color);
}

.json-viewer-container .nodeKey::before {
    content: '';
    width: 5%;
    height: 100%;
    position: absolute;
    border-radius: inherit;
    right: 5px;
    top: 0;
    background: linear-gradient(to right, transparent 0px, var(--jsonviewer-background-color));

    pointer-events: none;
}


.json-viewer-container .nodeValue {
    max-width: var(--jsonviewer-max-value-width);
    word-wrap: break-word;
    white-space: initial;
}

.json-viewer-container .lastNodeKey::after {
    content: ":";
    text-decoration: none;
    color: var(--jsonviewer-main-color);
    display: inline-block
}

.json-viewer-container .arrow {
    width: 18px;
    height: 18px;
    object-fit: none;
    border-radius: 100%;
    transition: transform 0.1s ease;
    filter: invert(var(--jsonviewer-arrow));
    user-select: none;
}

.json-viewer-container .arrow:hover {
    filter: invert(var(--jsonviewer-arrow-hover));
    cursor: pointer;
}

.json-viewer-container .arrow:active {
    background-color: rgb(107, 107, 107);
}


.json-viewer-container .arrowDiv {
    display: flex;
    align-items: center;
}
.json-viewer-container .arrowDiv::after {
    content: "";
    height: 1px;
    width: 20px;
    background: var(--jsonviewer-main-color);
}

.json-viewer-container .lastArrowDiv::before {
    margin-left: 9px;
    content: "";
    height: 1px;
    width: 9px;
    background: var(--jsonviewer-main-color);
}


.json-viewer-container .hidden .node, .json-viewer-container .hidden .verticalLine {
    display: none;
}

.json-viewer-container :not(.hidden) > div > div > .arrow {
    transform: rotate(90deg);
}


.json-viewer-container span:not(.nodeValue), .json-viewer-container .arrowDiv, .json-viewer-container .verticalLine {
    opacity: 0.7;
}


.json-viewer-container .verticalLine {
    width: 1px;
    background: var(--jsonviewer-main-color);
    margin: 0px;
    position: absolute;
}



.json-viewer-container .string::before, .json-viewer-container .string::after {
    content: "\"";
}



.json-viewer-container .page-link {
    font-size: 20px;
    transition: transform 0.1s ease;
    margin-top: 7px;
}
.json-viewer-container .page-link:hover {
    transform: scale(1.1);
    text-decoration: none;
}



.json-viewer-search {
    position: sticky;
    left: 99999999999999999999999999999999px;
    top: 14px;
    width: 300px;
    height: 96px;
    margin: 0px;
    margin-right: 14px;
    margin-top: 14px;
    padding: 10px;
    background-color: var(--jsonviewer-background-color);
    box-shadow: 4px 4px 10px #000000ab;
    border-radius: 10px;

    z-index: 1;
}

.json-viewer-search input {
    width: 80%;
    height: 10px;
    margin-right: 0px;
    margin-bottom: 3px;
}

.json-viewer-close-search {
    position: absolute;
    margin: 0px;
    padding: 0px;
    right: 10px;
    top: 10px;
    width: 20px;
    height: 20px;
    font-size: 20px;
    line-height: 20px;
    cursor: pointer;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 0);
}
.json-viewer-close-search:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

.json-viewer-filter-button {
    width: 30px;
    height: 30px;
    margin-bottom: 0px;
    padding: 0px;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 0);
}
.json-viewer-filter-button:hover {
    background-color: rgba(0, 0, 0, 0.4);
}


.json-viewer-tree-container {
    position: relative;
}

.json-viewer-tree-container .highlight {
    background-color: var(--jsonviewer-highlight-color);
}

